👋 {{name}}, добро пожаловать! Ваша роль - <b>АДМИН</b><br>
<br>
Проверка остатков и продажи запускается автоматически в 00:05 каждый день
В качестве результата, если товаров > 5, бот будет присылать .xlsx файл, иначе по каждому товару будет присылаться
карточка с данными<br>
Чтобы запустить проверку вручную, нажмите на кнопку <b>Обновить данные🔁</b> внизу👇🏽